body{
  font-family: "Dosis", sans-serif;
}

.App {
  min-height: 100vh;
  background-color: hsl(125.3,40.7%,87.5%);
}

.head-title {
  font-weight: 100;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
}

.query {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.search-form {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background-color: hsl(125.3,50.7%,37.5%);
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: .3s;
}

.search-button:hover{
  background-color: hsl(125.3,50.7%,47.5%);
}

.recipes-container{
  display: flex;
  flex-wrap: wrap;
}